---
layout: base 
title: Live
js: 
- /static/js/julia-player.js
- /static/js/boot.js
---

<div id="player-wrapper">
    <video id="player" src="{% site.stream_url %}">
</div>

<div id="tabs-container">
    <div id="tabas">    
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#now" role="tab" data-toggle="tab">Právě hraje</a></li>
            <li role="presentation"><a href="#schedule" role="tab" data-toggle="tab">Program</a></li>
            <li role="presentation"><a href="#about" role="tab" data-toggle="tab">Info</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active fade in" id="now">
                {% include now_playing.html %}
            </div>

            <div role="tabpanel" class="tab-pane fade" id="schedule">
                Televizní program
            </div>

            <div role="tabpanel" class="tab-pane fade" id="about">
                {% include about.html %}
            </div>

        </div> <!--end tab content -- >
    </div> <!-- end tabs -->
</div> <!-- end tabs-container -->

