<p>
    Tato stránka slouží jako technologické demo "televizní stanice" postavené výhradně na open-source řešeních. 
    Kompletní zdrojové kódy jsou k dispozici na našem <a href="https://github.com/opennx" target="_blank">GitHub účtu</a>
    a mohou sloužit každému zájemci o vlastní televizní vysílání.
<p>
    Zákon 231/2001 Sb. o provozování rozhlasového a televizního vysílání a o změně dalších zákonů,
    §1 odst 5a nám říká, že:
</p>
<blockquote>
    Za televizní vysílání se nepovažuje vysílání, 
    které nemá povahu činnosti především hospodářské nebo které nesoutěží s
    televizním vysíláním
</blockquote>
<p>
    Televizní vysílání tedy neprovozujeme. Zároveň neposkytujeme žádnou audiovizuální službu na vyžádání.
</p>
<p>
    Valná většina, co vysíláme je licencováno pod některou z variant Creative Commons licencí. 
    K ostatnímu materiálu máme svolení autora k vysílání. 
</p>
