<h2>O nxtv</h2>
    
<div class="col-md-6">
    <h3>Disclaimer pro RRTV</h3>
    <p>
        Zákon 231/2001 Sb. o provozování rozhlasového a televizního vysílání a o změně dalších zákonů, 
        §1 odst 5a nám říká, že:
    </p>
    <p>
        <blockquote>
            Za televizní vysílání se nepovažuje vysílání, 
            které nemá povahu činnosti především hospodářské nebo které nesoutěží s
            televizním vysíláním
        </blockquote>
    </p>
    <p>
        Takže nejsme televize, protože z toho nemáme ani korunu a to, co v ČR vysílá
        pro nás není žádná konkurence.
    </p>
</div>

<div class="col-md-6">
    <h3>Disclaimer pro OSA a spol.</h3>
    <p>
        Vše, co vysíláme je licencováno pod některou z variant Creative Commons či kompatibilní licencí. 
        Autoři zastupovaní jakoukoliv mafií sem mají zákaz vstupu.
    </p>
</div>
