<p>
    Tato stránka slouží jako technologické demo "televizní stanice" postavené výhradně na open-source řešeních. 
    Kompletní zdrojové kódy jsou k dispozici na našem <a href="https://github.com/opennx" target="_blank">GitHub účtu</a>
    a mohou sloužit každému zájemci o vlastní televizní vysílání.
<p>
    Nejsme provozovateli televizního vysílání podle zákona 231/2001 Sb. o provozování rozhlasového a televizního vysílání.
    Zároveň neposkytujeme audiovizuální službu na vyžádání dle zákona 132/2010 Sb.
</p>
<p>
    Vysílaný materiál je z valné většiny licencován pod některou z variant licence Creative Commons.
    Vysílání neobsahuje materiál, jehož autoři by byli zastupováni kolektivním správcem.
</p>
