<h2>Řekněte nám blabla</h2>

<ul class="list-inline banner-social-buttons">
    <li>
        <a href="https://twitter.com/nxtvcz" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
    </li>
    <li>
        <a href="http://facebook.com/nxtvcz" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
    </li>
    <li>
        <a href="https://github.com/OpenNX" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
    </li>
</ul>

<p>
    Opravdu se nebráníme příspěvkům na provoz. Drobné nám můžete posílat na:
</p>

<p>
    <code>BTC: 1NXTVhJtoyf7LwRDmiSezogG3BsPedTBvr</code><br/>
    <code>LTC: LbRmJUHniPD4wTHDcZQKAVQ7XVDvH9bp38</code><br/>
    <code>XDG: DHdJaNNhPreQDN4pNfqmzeT2xKQ3K1tFdU</code><br/>
</p>