
html, body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    color: #B0C7E8;
    font-family: Helvetica, 'Helvetica Neue', Arial, Verdana, Sans;
    }

a {
    color: #B0C7E8;
}

a:hover {
  color: #FF8736;
}

#background {
    background-color: #cc0000;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    z-index: -1;
}

#wrapper{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    background-color: rgba(0,0,0,.7);
}

#toolbar {
  margin:0;
  width: 100%px;
  padding: 10px;
  text-align: left;
  background-color: rgba(0,0,0,.4); 
}

button {
  background-color: transparent;
  color: #B0C7E8;
  border : 1px solid #B0C7E8;
  font-size: 14px;
  width: 32px;
  height: 32px;
}


.top, .main, .bottom {
       text-align:center;
       float: left;
       position: relative;
    }

.top {
       height: 50%;
       margin-bottom: -270px;
   }

.top p {
       margin-bottom: 270px;
   }
   
.main {
       height: 540px;
       z-index: 2;
       /*background-color: rgba(0,0,0,.6);*/
   }

.bottom {
       height: 50%;
       margin-top: -270px;
    }


.left {
       width: 50%;
       margin-right: -480px;        
   }


.mid {
       width: 960px;
       z-index: 2;
   }

.right {
       width: 50%;
       margin-left: -480px;
    }
.right p {
       margin-left: 480px;
   }

.main.mid {
       z-index: 3;
   }

.bottom.mid {
  padding-top: 270px;
}

#video_container {
    background-color: black;
}