body {
    overflow-y: scroll;
    background-color: #121212;
}

body.loading * {
}


#player-wrapper {
    text-align:center;
    margin-top : 20px;
}

#tabas {
    max-width: 800px;
    margin: 30px auto;
    text-align: center;
}



/*
Tab custom
*/
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:hover, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:active {
    border-color: #333;	
    outline:none;
}

.nav-tabs.nav-justified>li>a {
    border-bottom-color: #333;	
    color: #666;	
}

.nav-tabs.nav-justified>li>a:hover {
    background: transparent;	
    border-color: #333;	
    color: #EEE;	
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #111;
    color: #BCBCBC;
    outline:none;
}


/*
Messages
*/

#messaging {

}

#messaging>div {
    padding-top: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#messaging a {
    color: #ddd;
    font-size: 20px;
    outline:none;
}


#messaging .title-wrap {
    color: #FF8735;
    font-family: bebas_neueregular;
    font-size: 34px;
}

#messaging .subtitle {
    color: #E3E3E3;
}

#messaging .description-wrap {
    overflow: hidden;
}

#messaging .description {
    color: #BCBCBC;
    font-size: 14px;
    padding: 5px;
}


#messaging .attribution {
    margin-top: 30px;
    color: #606060;
    font-size: 12px;
}

#messaging .attribution a{
    color: #808090;
    font-size: 12px;
}



/* TV schedule */

#schedule ul li {
list-style-type: none;
}


#about {
    padding-top: 20px;
    color: #ddd;
}

#about blockquote{
    border : 0;
    font-style: italic;
}

/* Footer */
#footer {
    color: #666666;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;

}
