<!DOCTYPE html>
<html lang="cz">
<head>
    <meta charset="utf-8" />

    <title>{{ site.title }}</title>
    
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    {% include navbar.html %}

    {{ content }}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/grayscale.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>

    <script type="text/javascript">
        var flashvars  = {src: 'rtmp%3A//streamuj.tyzmr.de/nxtv/nx_high', autostart: 'true', themeColor: '0395d3', mode: 'overlay', scaleMode: 'native', frameColor: '000000', fontColor: '333333', link: '',embed: ''};
        var params     = {allowFullScreen: 'true'};
        var attributes = {id: 'nxtvPlayer', name: 'nxtvPlayer'};

        swfobject.embedSWF('swf/AkamaiFlashPlayer.swf', 'videoPlayer', '966', '546', '9.0.0', 'swf/expressInstall.swf', flashvars, params, attributes);
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51103561-1', 'nxtv.cz');
      ga('send', 'pageview');

    </script>


</body>

</html>
