<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
    <meta charset="utf-8" />

    <title>{{ site.title }}</title>
    
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    {% include analytics.html %}
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    {% include navbar.html %}

    {{ content }}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/js/grayscale.js"></script>
    <script type="text/javascript" src="/js/swfobject.js"></script>

    <script type="text/javascript">
        var flashvars  = {src: 'rtmp%3A//streamuj.tyzmr.de/nxtv/nx_high', autostart: 'true', themeColor: '0395d3', mode: 'overlay', scaleMode: 'native', frameColor: '000000', fontColor: '333333', link: '',embed: ''};
        var params     = {allowFullScreen: 'true'};
        var attributes = {id: 'nxtvPlayer', name: 'nxtvPlayer'};

        swfobject.embedSWF('swf/AkamaiFlashPlayer.swf', 'videoPlayer', '966', '546', '9.0.0', 'swf/expressInstall.swf', flashvars, params, attributes);
    </script>
</body>

</html>
